.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


body {
  background-color: white;
  text-align: center 
}

img {
  max-width: 300px;
}

div {
   text-align: center;
   margin: 0 auto;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
  
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.footer {
  padding: 10px;
  text-align: center;
  background: #f1f1f1;
  margin-top: 10px;
}