<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
<style>

</style>
</head>
<body>
 
<div class="header">
  <h1>OutKast</h1>
</div>

<div class="row">
  <div class="column">
    <h2> {{title_src}} </h2>
    <p> <img src = "{{artist_src}}"</p>
    <p>twitter quote</p>
    <p>twitter quote</p>
    <p>twitter quote</p>
    <p> <img src = "{{album_src}}"> </p>
  </div> 


<br>    
<div class="footer">
  <h3><a href="https://genius.com/artists/Outkast">genius.com/artists/Outkast</a></h3>
</div>

</body>
</html>