<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
<style>

</style>
</head>
<body>
 
<div class="header">
  <h1>ARTIST INFO</h1>
</div>

<div class="row">
  <div class="column">
    <h2>Song Name</h2>
    <p>Artist Photo</p>
    <p>twitter quote</p>
    <p> <img src = "  " ></p>
  </div> 


<div class="column">
    <h2>Song Name</h2>
    <p>Artist Photo</p>
    <p>twitter quote</p>
    <p>Album name</p>
   </div> 

<div class="column">
    <h2>Song Name</h2>
    <p>Artist Photo</p>
    <p>twitter quote</p>
    <p>Album name</p>
   </div> 
    
<div class="footer">
  <h3>LINK TO GENIUS</h3>
</div>

</body>
</html>