<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
  <div class="header">
    <h1><img src="static\outkast_logo.png"></h1>
  </div>
  <div>
    <h2>{{title_src}}</h2>
    <p><img style="max-width:400px" src="{{album_src}}"></p>
    <p>twitter quote</p>
    <p>twitter quote</p>
    <p>twitter quote</p>
    <p><img style="max-width:400px" src="{{artist_src}}"></p>
    
  </div> 
  <br>    
  <div class="footer">
    <h3><a href="https://genius.com/artists/Outkast">genius.com/artists/Outkast</a></h3>
  </div>
</body>
</html>