.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


body {
  background-color: white;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ffa31a;
  margin-top: 10px;
}